<html>
  <head>
    <title>Employee at Work</title>
    {{>semantic}}
    {{>highcharts}}
  </head>
  <body>
    <div class="ui menu">
      {{#if user}}
        <div class="right menu">
          <a class="ui icon button" href="/logout"><i class="sign out icon"></i></a>
        </div>
      {{else}}
        <div class="right menu">
          <a class="ui icon button" href="/login"><i class="sign in icon"></i></a>
          <a class="ui icon button" href="/register"><i class="add user icon"></i></a>
        </div>
      {{/if}}
    </div>
    {{#if error}}
      <div class="ui header">{{error}}</div>
    {{else}}
      <div class="ui container">
        <div class="ui basic segment">
          <div class="ui left attached rail">
            <div class="ui centered skyscraper ad">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- leftRail -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-2592849449766460"
                   data-ad-slot="7384179944"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
          </div>
          <div class="ui right very close rail">
              <div class="ui centered skyscraper ad">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- rightRail -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-2592849449766460"
                     data-ad-slot="8860913140"
                     data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
          </div>
          {{{body}}}
        </div>
      </div>
    {{/if}}
    <div class="ui container">
      <div class="ui centered leaderboard ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- BAWFooter -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-2592849449766460"
             data-ad-slot="6047047546"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
    <div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-63183953-1', 'auto');
        ga('send', 'pageview');

      </script>
    </div>
  </body>
</html>
