<div class="ui header">Register Page</div>
<form class="ui form" role="form" action"/register" method="post">
  <div class="field">
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="ui buttons">
      <button class="ui submit button" type="submit">Submit</button>
      <a href="/" class="ui cancel button">Cancel</a>
    </div>
</form>
